@forward "../utils/vars";

.header {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
      330.24deg,
      rgba(0, 0, 0, 0) 31.06%,
      #000000 108.93%
    ),
    url("../images/hero_background.png");
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  background-position: center;
}

.hero-section {
  max-width: 1751px;
  margin: 0 auto;
  padding: 64px 84px 0;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__navigation ul {
    display: flex;

    & li {
      list-style-type: none;
      margin-right: 50px;

      & a {
        text-decoration: none;
        color: $c-white;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
      }
    }
  }

  &__search {
    display: flex;
    align-items: center;

    & > img {
      width: 20px;
      height: 20px;
      margin-right: 14px;
      cursor: pointer;
    }

    & input {
      width: 60px;
      transition: width $transition-time;
      background-color: transparent;
      border: transparent;
      cursor: pointer;

      &::placeholder {
        font-weight: 400;
        font-size: 17px;
        line-height: 23px;
        color: $c-white;
      }

      &:focus {
        width: 150px;
        transition: width $transition-time;
        outline: $c-white;
        border: 1px solid $c-white;
        caret-color: $c-white;
      }
    }
  }

  &__burger {
    height: 23px;
    width: 23px;
    cursor: pointer;
    position: relative;
    z-index: -1;
    display: none;

    .burger-line {
      width: 100%;
      height: 3px;
      background-color: $c-white;
      position: absolute;
      left: 0;
      transition: 0.3s all linear;

      &-first {
        top: 0;
      }

      &-second,
      &-third {
        top: 50%;
        transform: translateY(-50%);
      }

      &-fourth {
        bottom: 0;
      }
    }

    &-active {
      & .burger-line-first,
      & .burger-line-fourth {
        opacity: 0;
      }

      & .burger-line-second {
        transform: translateY(-50%) rotate(45deg);
        width: 25px;
      }

      & .burger-line-third {
        transform: translateY(-50%) rotate(-45deg);
        width: 25px;
      }
    }
  }

  &__navigation-mobile {
    display: flex;
    width: 100%;
    height: 100vh;
    color: #ccc;
    z-index: -1;
    padding: 10px;
    transition: left 1s cubic-bezier(0.68, -0.55, 0.27, 1.55),
      z-index 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    position: fixed;
    top: 0;
    left: -1000px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-active {
      z-index: 1;
      left: 0;
    }

    & > ul {
      list-style: none;

      & li {
        margin-bottom: 50px;
        text-align: center;
        border-bottom: 3px solid transparent;
        transition: $transition-time;

        &:hover {
          border-bottom: 3px solid $c-mustard;
        }
      }

      & a {
        text-decoration: none;
        color: $c-white;
        text-transform: capitalize;
        font-size: 96px;
        line-height: 100px;
        font-weight: 700;
        cursor: pointer;
      }
    }
  }

  &__search-mobile {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 60px;

    & > input {
      width: 80%;
      height: 110px;
      font-size: 86px;
      line-height: 86px;
      font-weight: 700;
      border: 1px solid $c-white;

      &::placeholder {
        font-size: 86px;
        line-height: 86px;
        font-weight: 700;
        text-align: center;
      }
    }
  }

  &__main {
    margin-top: 250px;
    display: flex;

    &-title {
      flex: 3;
    }

    &-line {
      width: 72px;
      height: 2px;
      background-color: $c-mustard;
      margin-right: 32px;
    }
  }

  &__title-heading {
    font-size: 96px;
    line-height: 100px;
    text-transform: capitalize;
    color: $c-white;
    width: 100%;

    & div {
      margin: 0 auto;
    }

    & div:first-child {
      font-weight: 700;
    }
  }

  &__title-wrapper {
    display: flex;
    align-items: center;

    & p {
      color: $c-mustard;
      font-weight: 700;
      font-size: 18px;
      line-height: 25px;
      letter-spacing: 6px;
      text-transform: uppercase;
    }
  }

  &__social-media {
    margin-top: 72px;
    display: flex;
    flex: 1;
    align-items: flex-start;
    flex-direction: column;

    & > div {
      font-weight: 600;
      font-size: 18px;
      line-height: 25px;
      color: $c-white;
      margin-bottom: 47px;
      margin-left: -30px;
      transform: rotate(0.25turn);
    }

    & img {
      margin-bottom: 26px;
    }
  }

  &__scroolDown {
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: $c-white;

    & > p {
      margin-right: 9px;
    }
  }
}

@media screen and (max-width: 1500px) {
  .hero-section__title-heading {
    font-size: 80px;
  }
}

@media screen and (max-width: 1240px) {
  .hero-section__title-heading {
    font-size: 60px;
  }
}

@media screen and (max-width: 1020px) {
  .hero-section {
    &__main-line {
      display: none;
    }

    &__title {
      &-wrapper p {
        font-size: 16px;
      }

      &-heading {
        font-size: 60px;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .hero-section {
    &__navigation,
    &__search {
      display: none;
    }

    &__burger {
      z-index: 2;
      display: block;
    }

    &__search-mobile {
      & input {
        font-size: 5em;
      }
      &::placeholder {
        font-size: 5em;
      }
    }

    &__navigation-mobile ul a {
      font-size: 5em;
    }
  }
}

@media screen and (max-height: 800px) {
  .hero-section {
    &__main {
      margin-top: 15%;
    }
  }
}

@media screen and (max-width: 600px) {
  .hero-section {
    &__main {
      flex-direction: column-reverse;

      &-title {
        text-align: center;
      }
    }

    &__social-media {
      flex-direction: row;
      justify-content: space-evenly;
      margin-top: 30px;

      & div {
        display: none;
      }
    }

    &__search-mobile {
      & input {
        font-size: 4em;
      }

      &::placeholder {
        font-size: 4em;
      }
    }

    &__navigation-mobile ul a {
      font-size: 4em;
    }
  }
}

@media screen and (max-width: 500px) {
  .hero-section {
    padding: 64px 42px 0;

    &__search-mobile {
      font-size: 3em;
      margin-bottom: 30px;

      & > input {
        height: 80px;
        font-size: 1.5em;

        &::placeholder {
          font-size: 1em;
        }
      }
    }

    &__navigation-mobile ul {
      padding-left: 0;

      & li {
        margin-bottom: 20px;
      }

      & a {
        font-size: 3em;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .hero-section {
    padding: 64px 21px 0;

    &__title-heading {
      font-size: 50px;
    }

    &__social-media img {
      margin-bottom: 0;
    }

    &__search-mobile {
      font-size: 2em;
      margin-bottom: 30px;

      & > input {
        height: 65px;
        font-size: 2em;

        &::placeholder {
          font-size: 0.75em;
        }
      }
    }

    &__navigation-mobile ul {
      & li {
        margin-bottom: 15px;
      }

      & a {
        font-size: 2.5em;
      }
    }
  }
}
