@forward "../utils/vars";

.subSection {
  &-line {
    width: 72px;
    height: 2px;
    background-color: $c-mustard;
    margin-right: 32px;
  }

  &-title {
    display: flex;
    align-items: center;
    margin-bottom: 27px;

    & p {
      color: $c-mustard;
      font-weight: 700;
      font-size: 18px;
      line-height: 25px;
      letter-spacing: 6px;
      text-transform: uppercase;
    }
  }
}

.main {
  &_section {
    background-color: $background-color-main;
    padding: 0 84px;
    margin-top: -1px;
  }

  &__wrapper {
    max-width: 1461px;
    margin: 0 auto;
  }

  &__subSection-1 {
    display: flex;
    justify-content: space-between;
    gap: 232px;
    margin-bottom: 250px;

    & > img {
      width: 598px;
      height: 720px;
    }

    &-titleWraper {
      margin-top: 88px;
      & h2 {
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 87px;
        color: $c-white;
        margin-bottom: 27px;
      }

      & > p {
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 32px;
        color: $c-white;
        margin-bottom: 30px;
      }

      & a {
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
        color: $c-mustard;
        text-decoration: none;
        border-bottom: 1px solid transparent;
        transition: $transition-time;

        &:hover {
          border-bottom: 1px solid $c-mustard;
        }
      }
    }
  }

  &__subSection-2 {
    margin-bottom: 226px;
  }
}

.slide {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;

  &-1 {
    background-image: url("../images/main_image-2.jpg");
  }
  &-2 {
    background-image: url("../images/main_image-1.jpg");
  }
  &-3 {
    background-image: url("../images/main_image-3.jpg");
  }

  & .main__subSection-1-titleWraper {
    display: flex;
    flex-direction: column;
    // justify-content: flex-end;
    align-items: center;
    text-align: center;
    margin-top: 60%;

    & h2 {
      width: 46%;
    }

    & p {
      width: 75%;
    }
  }
}

.swiper {
  width: 100%;
  height: 985px;

  &-button-prev::after,
  &-button-next::after {
    width: 12px;
    height: 21px;
    color: $c-white;
  }

  &-button-prev {
    left: 40px !important;
  }
  &-button-next {
    right: 40px !important;
  }
}

.main__subSection-3 {
  flex-direction: row-reverse;
}

@media screen and (max-width: 1450px) {
  .main {
    &__subSection-1 {
      gap: 125px;

      &-titleWraper {
        margin-top: 20px;

        & > h2 {
          font-size: 50px;
        }
      }

      & > img {
        width: 45%;
        height: fit-content;
      }
    }
  }
}

@media screen and (max-width: 1250px) {
  .subSection {
    &-line {
      display: none;
    }

    &-title {
      margin-bottom: 20px;

      & p {
        font-size: 14px;
        line-height: 16px;
      }
    }
  }
  .main {
    &__subSection-1 {
      gap: 40px;

      &-titleWraper {
        margin-top: 10px;

        & > h2 {
          font-size: 32px;
          line-height: 40px;
        }

        & > p {
          font-size: 14px;
          line-height: 28px;
        }

        & > a {
          font-size: 14px;

          & img {
            height: 14px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .main {
    &__subSection-1 {
      flex-direction: column;
      align-items: center;

      &-titleWraper {
        padding: 0 60px;
      }
      & > img {
        width: 80%;
        height: fit-content;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .main {
    &__subSection-1 {
      &-titleWraper {
        padding: 20px;
      }

      & > img {
        margin-top: 50px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .main_section {
    padding: 0 42px;
  }
}

@media screen and (max-width: 400px) {
  .main_section {
    padding: 0 21px;
  }
}
