@import 'utils';
@import 'fonts';
@import 'typography';
@import 'reset';

html {
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

body {
  background: $c-white;
}

.container {
  width: 1040px;
  margin: 0 auto;
  padding: 0 20px;
  transition: width $transition-time;
}

h1 {
  background-color: rebeccapurple;
}
p {
  color: bisque;
  background-color: rosybrown;
}

img {
  width: 400px;
}
